.statistics {
  margin: 10px auto;
  width: 400px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.title {
  font-size: 18px;
  padding-top: 20px;
  color: #0b0a0a;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
}

.list > li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}

.label,
.percentage {
  font-size: 16px;
  padding: 5px;
  color: #fff;
}
